#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    margin: 20px auto;
}
.grid-square {
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border: 1px solid black;
}

#resetBtn {
    display: flex;
    padding: 30px 60px;
    margin: 0 auto;
}

